{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="rounded m-3 bg-light" style=" height: 100%;">

        <div class="d-flex pt-3 bd-highlight">
            <div class="p-2 bg-primary flex-fill text-white" style="font-family: 'Prompt', sans-serif;">
             <h3>บุคคลต้นแบบ</h3>
            </div>
        </div>
        <div >
            <img src="{% static 'images/rose50.jpg' %}" class="rounded mx-auto pt-3 d-block" alt="pg" width="400px">
        </div>
        <div class="m-3 pt-3 fs-5" style="font-family: 'Prompt', sans-serif;">
            <p class="text-center"><b>Derrick Rose</b></p>
        </div>
        <div class="m-3 pt-3 fs-5" style="font-family: 'Prompt', sans-serif;">
            <p>&emsp;&emsp;เดอริค โรส ที่กำลังหลั่งน้ำตาในค่ำคืนวันที่ 31 ตุลาคม 2561 หลังจากคว้าชัยชนะให้กับทีมมินนิโซตา ทิมเบอร์วูลฟ์ส
                ด้วยการทำแต้มมากที่สุดในอาชีพการเล่นถึง 50 คะแนน มันคือช่วงเวลาที่พิเศษมากกว่าการที่จะเป็นแค่เกมบาสเกตบอล</p>

            <p>&emsp;&emsp;มันคือสัญลักษณ์ของความเข้มแข็ง การก้าวข้ามกำแพงทางร่างกายและจิตใจที่ทุกคนมองว่าเป็นไปไม่ได้ของชายผู้หนึ่งที่เคยขึ้นสู่จุดสูงสุดของชีวิต
                และโชคชะตาพลิกผันให้ดำดิ่งลงสู่จุดตกต่ำที่ไม่ว่าจะพยายามปีนกลับขึ้นมาจนสุดกำลังครั้งแล้วครั้งเล่า แสงสว่างที่มองหากลับอยู่ไกลขึ้นไปอย่างไร้ซึ่งความหวัง</p>

            <p>&emsp;&emsp;“มันมีความหมายทุกอย่างสำหรับผม” เดอริค โรส กล่าว </p>

            <p>&emsp;&emsp;แฟนบาสทุกคนไม่มีใครไม่รู้จัก เดอริค โรส เขาคือนักบาสระดับซุปเปอร์สตาร์ที่ถูกดราฟท์มาในอันดับหนึ่งและคว้าตำแหน่ง Rookie of the Year
                ได้ทันทีในปี 2009 เขาคือเจ้าของรางวัล MVP ที่มีอายุน้อยที่สุดในประวัติศาสตร์ NBA ด้วยวัยเพียง 22 ปี</p>

            <p>&emsp;&emsp;ในยุครุ่งโรจน์ เดอริค โรสคือนักบาสที่มีลีลาการเล่นที่น่าตื่นตาตื่นใจที่สุดคนหนึ่งในลีก ความรวดเร็ว ความแข็งแกร่ง ความคล่องตัวที่เหลือเชื่อ
                การเปลี่ยนทิศทางอย่างฉับพลันและการจัดระเบียบร่างกายกลางอากาศ ทำให้เขาเป็นคนที่ยากจะป้องกัน ทุกค่ำคืนที่โรสลงเล่น จะมีเพลย์ที่สวยงามติดอันดับไฮทไลท์ประจำวันอยู่เสมอ</p>

            <p>จนมีคำกล่าวติดปากที่ใช้ในการบรรยายการเล่นของโรสว่า</p>

            <p>&emsp;&emsp;“Too Big, Too Strong, Too Fast, Too Good!”</p>
        </div>


    </div>
{% endblock %}